{% extends "index/base.html" %}
{% load static %}

{% block main %}
    <main class="main">
            <section class="header__twof">
                <div class="container-sam">
                    <div class="df-indexfoure">
                        <div class="box-text-header__two">
                            <h3 class="header__two-text">NFT MARKETPLACE</h3>
                            <h1 class="text-about">About our Company NFT Distro</h1>
                            <p class="about-p">We are a cutting-edge company focused on the creation, promotion, and sale of non-fungible tokens (NFTs). Our marketplace offers a wide range of NFTs, from digital art and collectibles to gaming items and virtual real estate.</p>
                        </div>
                        <img src="{% static 'index/assets/images/one-img.png' %}" alt="img" class="img">
                        <div class="around-one">
                            <img src="{% static 'index/assets/icons/mu.svg' %}" alt="img" class="m">
                        </div>
                        <div class="around-two">
                            <img src="{% static 'index/assets/icons/p.svg' %}" alt="img" class="p">
                        </div>
                        <div class="around-three">
                            <img src="{% static 'index/assets/icons/a.svg' %}" alt="img" class="ar">
                        </div>
                    </div>
                </div>
            </section>
            <div class="container-sam">
                <section class="main-onef">
                    <img src="{% static 'index/assets/icons/astronom.svg' %}" alt="ast" class="astr">
                    <div class="main-one-box">
                        <h1 class="main-one-text">NFT Represent the future</h1>
                        <p class="main-one-textp">We believe that NFTs represent the future of digital ownership and are excited to provide our customers with access to this revolutionary new market. Our platform is user-friendly and easy to navigate, making it simple for creators
                            to upload and sell their NFTs and for buyers to discover and purchase unique digital assets.</p>
                    </div>
                </section>
                <section class="main-twof">
                    <div class="main-two-boxf">
                        <img src="{% static 'index/assets/icons/rak.svg' %}" alt="img" class="ico-nftf">
                        <p class="img-text">23.400</p>
                    </div>
                    <div class="main-two-box">
                        <img src="{% static 'index/assets/icons/iz.svg' %}" alt="img" class="ico-nftf">
                        <p class="img-text">8.000</p>
                    </div>
                    <div class="main-two-box">
                        <img src="{% static 'index/assets/icons/hand.svg' %}" alt="img" class="ico-nftf">
                        <p class="img-text">3,400</p>
                    </div>
                    <div class="main-two-box">
                        <img src="{% static 'index/assets/icons/rtop.svg' %}" alt="img" class="ico-nftf">
                        <p class="img-text">$21B+</p>
                    </div>
                </section>
            </div>
            <section class="main-threef">
                <h1 class="main-three-text">NFT Distro</h1>
                <img src="{% static 'index/assets/icons/NFT.svg' %}" alt="nft" class="nft-vid">
            </section>
            <div class="container-sam">
                <section class="main-fouref">
                    <h1 class="main-foure-textf">Our Partners</h1>
                    <div class="df-pa">
                        <img src="{% static 'index/assets/icons/logo-o.svg' %}" alt="logo" class="part">
                        <img src="{% static 'index/assets/icons/logo-two.svg' %}" alt="logo" class="part">
                        <img src="{% static 'index/assets/icons/logo-three.svg' %}" alt="logo" class="part">
                        <img src="{% static 'index/assets/icons/logo-f.svg' %}" alt="logo" class="part">
                        <img src="{% static 'index/assets/icons/logo-fi.svg' %}" alt="logo" class="part">
                    </div>
                    <div class="df-pa">
                        <img src="{% static 'index/assets/icons/logo-s.svg' %}" alt="logo" class="part">
                        <img src="{% static 'index/assets/icons/logo-se.svg' %}" alt="logo" class="part">
                        <img src="{% static 'index/assets/icons/logo-e.svg' %}" alt="logo" class="part">
                        <img src="{% static 'index/assets/icons/logo-n.svg' %}" alt="logo" class="part">
                        <img src="{% static 'index/assets/icons/logo-t.svg' %}" alt="logo" class="part">
                    </div>
                </section>
                <section class="main-fivef">
                    <h1 class="main-five-textf">Our Team</h1>
                    <div class="df-box-main-fivf">
                        <div class="team-box">
                            <img src="{% static 'index/assets/icons/p-o.svg' %}" alt="img" class="img-team">
                            <h3 class="team-text">Floyd Miles</h3>
                            <p class="team-textp">Founder</p>
                        </div>
                        <div class="team-box">
                            <img src="{% static 'index/assets/icons/p-t.svg' %}" alt="img" class="img-team">
                            <h3 class="team-text">Eleanor Pena</h3>
                            <p class="team-textp">UI UX Designer</p>
                        </div>
                        <div class="team-box">
                            <img src="{% static 'index/assets/icons/p-th.svg' %}" alt="img" class="img-team">
                            <h3 class="team-text">Kiss Dorka</h3>
                            <p class="team-textp">Ux Architect</p>
                        </div>
                        <div class="team-box">
                            <img src="{% static 'index/assets/icons/p-f.svg' %}" alt="img" class="img-team">
                            <h3 class="team-text">Nagy Tímea</h3>
                            <p class="team-textp">Project Manager</p>
                        </div>
                        <div class="team-box">
                            <img src="{% static 'index/assets/icons/p-fi.svg' %}" alt="img" class="img-team">
                            <h3 class="team-text">William Loko</h3>
                            <p class="team-textp">Software Developer</p>
                        </div>
                    </div>
                </section>
                <section class="main-sixf">
                    <h1 class="main-six-textf">Interested in joining us?</h1>
                    <p class="main-six-pf">We're always looking for passionate individuals to help us achieve our goals. Apply today and let's build a better future together.</p>
                    <a href="faq.html">
                        <button type="button" class="btn-join">Join us</button>
                    </a>
                </section>
            </div>
        </main>


{% endblock %}
