{% extends "index/base.html" %}
{% load static %}

{% block main %}
    <main class="main">
            <section class="header__twoo">
                <h1 class="text__header">Discover Amazing NFT’s</h1>
                <form action="#" method="#" class="form-two">
                    <button type="button" class="btn-search"><img src="{% static 'index/assets/icons/search.svg' %}" alt="search"></button>
                    <input type="text" class="inp-two" placeholder="Search">
                </form>
            </section>
            <div class="container-samm">
                <section class="main-foure">
                    <div class="main-foure__box-dff">
                        <h1 class="main-foure-text">Explore</h1>
                        <div class="dropdown">
                            <button type="button" class="btn-point" data-bs-toggle="dropdown">
                                <a href="#" class="rec-add">Recently Added</a>
                                <img src="{% static 'index/assets/icons/chevron-down.svg' %}" class="chevron" alt="more">
                            </button>
                            <ul class="dropdown-menu poi ">
                                <li class="li__count ">
                                    <a class="dropdown-item " href="# "><img src="{% static 'index/assets/icons/nft-ico.svg' %} " class="cont " alt="cont ">NFT</a>
                                </li>
                                <li class="li__count ">
                                    <a class="dropdown-item " href="# "><img src="{% static 'index/assets/icons/nft-ico.svg' %} " class="cont " alt="cont ">NFT</a>
                                </li>
                                <li class="li__count ">
                                    <a class="dropdown-item " href="# "><img src="{% static 'index/assets/icons/nft-ico.svg' %} " class="cont " alt="cont ">NFT</a>
                                </li>
                                <li class="li__count ">
                                    <a class="dropdown-item " href="# "><img src="{% static 'index/assets/icons/nft-ico.svg' %} " class="cont " alt="cont ">NFT</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <ul class="nav nav-pills">
                        <li class="nav-item">
                            <a class="nav-link active" data-bs-toggle="pill" href="#home">NFT’s</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-bs-toggle="pill" href="#menu1">Collections</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-bs-toggle="pill" href="#menu2"> Series</a>
                        </li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div class="tab-pane container active" id="home">
                            <div class="box-df__naib-oneb">
                                <a href="detailNFT.html" class="link">
                                    <div class="box__nft">
                                        <img src="{% static 'index/assets/images/explore-one.svg' %}" alt="one" class="imf-nft">
                                        <h3 class="text-nft">ExBoot #1</h3>
                                        <div class="user-box">
                                            <div class="box-sf">
                                                <img src="{% static 'index/assets/icons/gal.svg' %}" alt="gal" class="gal">
                                                <img src="{% static 'index/assets/icons/peop-two.svg' %}" alt="peop" class="peop">
                                                <p class="name-user">Perperzon</p>
                                            </div>
                                            <div class="two-boxu">
                                                <p class="text-b">Current Bid</p>
                                                <div class="df-ico">
                                                    <img src="{% static 'index/assets/icons/nft-ico.svg' %}" alt="nft" class="ico-nft">
                                                    <h3 class="namber-nft">3.421 </h3>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                <a href="detailNFT.html" class="link">
                                    <div class="box__nft">
                                        <img src="{% static 'index/assets/images/explore-two.svg' %}" alt="one" class="imf-nft">
                                        <h3 class="text-nft">ExBoot #2</h3>
                                        <div class="user-box">
                                            <div class="box-sf">
                                                <img src="{% static 'index/assets/icons/gal.svg' %}" alt="gal" class="gal">
                                                <img src="{% static 'index/assets/icons/an.svg' %}" alt="peop" class="peop">
                                                <p class="name-user">Antonson</p>
                                            </div>
                                            <div class="two-boxu">
                                                <p class="text-b">Current Bid</p>
                                                <div class="df-ico">
                                                    <img src="{% static 'index/assets/icons/nft-ico.svg' %}" alt="nft" class="ico-nft">
                                                    <h3 class="namber-nft">3.421 </h3>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                <a href="detailNFT.html" class="link">
                                    <div class="box__nft">
                                        <img src="{% static 'index/assets/images/explore-three.svg' %}" alt="one" class="imf-nft">
                                        <h3 class="text-nft">Future of Polygon X</h3>
                                        <div class="user-box">
                                            <div class="box-sf">
                                                <img src="{% static 'index/assets/icons/gal.svg' %}" alt="gal" class="gal">
                                                <img src="{% static 'index/assets/icons/m.svg' %}" alt="peop" class="peop">
                                                <p class="name-user">Michael</p>
                                            </div>
                                            <div class="two-boxu">
                                                <p class="text-b">Current Bid</p>
                                                <div class="df-ico">
                                                    <img src="{% static 'index/assets/icons/nft-ico.svg' %}" alt="nft" class="ico-nft">
                                                    <h3 class="namber-nft">3.421 </h3>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                <a href="detailNFT.html" class="link">
                                    <div class="box__nft">
                                        <img src="{% static 'index/assets/images/explore-foure.svg' %}" alt="one" class="imf-nft">
                                        <h3 class="text-nft">Blue Wave #2</h3>
                                        <div class="user-box">
                                            <div class="box-sf">
                                                <img src="{% static 'index/assets/icons/gal.svg' %}" alt="gal" class="gal">
                                                <img src="{% static 'index/assets/icons/and.svg' %}" alt="peop" class="peop">
                                                <p class="name-user">Anderson</p>
                                            </div>
                                            <div class="two-boxu">
                                                <p class="text-b">Current Bid</p>
                                                <div class="df-ico">
                                                    <img src="{% static 'index/assets/icons/nft-ico.svg' %}" alt="nft" class="ico-nft">
                                                    <h3 class="namber-nft">3.421 </h3>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="box-df__naib-oneb">
                                <a href="detailNFT.html" class="link">
                                    <div class="box__nft">
                                        <img src="{% static 'index/assets/images/explore-five.svg' %}" alt="one" class="imf-nft">
                                        <h3 class="text-nft">ExBoot #1</h3>
                                        <div class="user-box">
                                            <div class="box-sf">
                                                <img src="{% static 'index/assets/icons/gal.svg' %}" alt="gal" class="gal">
                                                <img src="{% static 'index/assets/icons/m.svg' %}" alt="peop" class="peop">
                                                <p class="name-user">Michael</p>
                                            </div>
                                            <div class="two-boxu">
                                                <p class="text-b">Current Bid</p>
                                                <div class="df-ico">
                                                    <img src="{% static 'index/assets/icons/nft-ico.svg' %}" alt="nft" class="ico-nft">
                                                    <h3 class="namber-nft">3.421 </h3>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                <a href="detailNFT.html" class="link">
                                    <div class="box__nft">
                                        <img src="{% static 'index/assets/images/explore-six.svg' %}" alt="one" class="imf-nft">
                                        <h3 class="text-nft">ExBoot #2</h3>
                                        <div class="user-box">
                                            <div class="box-sf">
                                                <img src="{% static 'index/assets/icons/gal.svg' %}" alt="gal" class="gal">
                                                <img src="{% static 'index/assets/icons/peop.svg' %}" alt="peop" class="peop">
                                                <p class="name-user">Richard</p>
                                            </div>
                                            <div class="two-boxu">
                                                <p class="text-b">Current Bid</p>
                                                <div class="df-ico">
                                                    <img src="{% static 'index/assets/icons/nft-ico.svg' %}" alt="nft" class="ico-nft">
                                                    <h3 class="namber-nft">3.421 </h3>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                <a href="detailNFT.html" class="link">
                                    <div class="box__nft">
                                        <img src="{% static 'index/assets/images/explore-seven.svg' %}" alt="one" class="imf-nft">
                                        <h3 class="text-nft">Future of Polygon X</h3>
                                        <div class="user-box">
                                            <div class="box-sf">
                                                <img src="{% static 'index/assets/icons/gal.svg' %}" alt="gal" class="gal">
                                                <img src="{% static 'index/assets/icons/and.svg' %}" alt="peop" class="peop">
                                                <p class="name-user">Anderson</p>
                                            </div>
                                            <div class="two-boxu">
                                                <p class="text-b">Current Bid</p>
                                                <div class="df-ico">
                                                    <img src="{% static 'index/assets/icons/nft-ico.svg' %}" alt="nft" class="ico-nft">
                                                    <h3 class="namber-nft">3.421 </h3>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                <a href="detailNFT.html" class="link">
                                    <div class="box__nft">
                                        <img src="{% static 'index/assets/images/explore-eight.svg' %}" alt="one" class="imf-nft">
                                        <h3 class="text-nft">Blue Wave #2</h3>
                                        <div class="user-box">
                                            <div class="box-sf">
                                                <img src="{% static 'index/assets/icons/gal.svg' %}" alt="gal" class="gal">
                                                <img src="{% static 'index/assets/icons/an.svg' %}" alt="peop" class="peop">
                                                <p class="name-user">Antonson</p>
                                            </div>
                                            <div class="two-boxu">
                                                <p class="text-b">Current Bid</p>
                                                <div class="df-ico">
                                                    <img src="{% static 'index/assets/icons/nft-ico.svg' %}" alt="nft" class="ico-nft">
                                                    <h3 class="namber-nft">3.421 </h3>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="box-df__naib-oneb">
                                <a href="detailNFT.html" class="link">
                                    <div class="box__nft">
                                        <img src="{% static 'index/assets/images/explore-nine.svg' %}" alt="one" class="imf-nft">
                                        <h3 class="text-nft">ExBoot #1</h3>
                                        <div class="user-box">
                                            <div class="box-sf">
                                                <img src="{% static 'index/assets/icons/gal.svg' %}" alt="gal" class="gal">
                                                <img src="{% static 'index/assets/icons/peop-two.svg' %}" alt="peop" class="peop">
                                                <p class="name-user">Perperzon</p>
                                            </div>
                                            <div class="two-boxu">
                                                <p class="text-b">Current Bid</p>
                                                <div class="df-ico">
                                                    <img src="{% static 'index/assets/icons/nft-ico.svg' %}" alt="nft" class="ico-nft">
                                                    <h3 class="namber-nft">3.421 </h3>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                <a href="detailNFT.html" class="link">
                                    <div class="box__nft">
                                        <img src="{% static 'index/assets/images/explore-ten.svg' %}" alt="one" class="imf-nft">
                                        <h3 class="text-nft">ExBoot #2</h3>
                                        <div class="user-box">
                                            <div class="box-sf">
                                                <img src="{% static 'index/assets/icons/gal.svg' %}" alt="gal" class="gal">
                                                <img src="{% static 'index/assets/icons/an.svg' %}" alt="peop" class="peop">
                                                <p class="name-user">Antonson</p>
                                            </div>
                                            <div class="two-boxu">
                                                <p class="text-b">Current Bid</p>
                                                <div class="df-ico">
                                                    <img src="{% static 'index/assets/icons/nft-ico.svg' %}" alt="nft" class="ico-nft">
                                                    <h3 class="namber-nft">3.421 </h3>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                <a href="detailNFT.html" class="link">
                                    <div class="box__nft">
                                        <img src="{% static 'index/assets/images/explore-eleven.svg' %}" alt="one" class="imf-nft">
                                        <h3 class="text-nft">Future of Polygon X</h3>
                                        <div class="user-box">
                                            <div class="box-sf">
                                                <img src="{% static 'index/assets/icons/gal.svg' %}" alt="gal" class="gal">
                                                <img src="{% static 'index/assets/icons/m.svg' %}" alt="peop" class="peop">
                                                <p class="name-user">Michael</p>
                                            </div>
                                            <div class="two-boxu">
                                                <p class="text-b">Current Bid</p>
                                                <div class="df-ico">
                                                    <img src="{% static 'index/assets/icons/nft-ico.svg' %}" alt="nft" class="ico-nft">
                                                    <h3 class="namber-nft">3.421 </h3>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                <a href="detailNFT.html" class="link">
                                    <div class="box__nft">
                                        <img src="{% static 'index/assets/images/explore-twelve.svg' %}" alt="one" class="imf-nft">
                                        <h3 class="text-nft">Blue Wave #2</h3>
                                        <div class="user-box">
                                            <div class="box-sf">
                                                <img src="{% static 'index/assets/icons/gal.svg' %}" alt="gal" class="gal">
                                                <img src="{% static 'index/assets/icons/and.svg' %}" alt="peop" class="peop">
                                                <p class="name-user">Richard </p>
                                            </div>
                                            <div class="two-boxu">
                                                <p class="text-b">Current Bid</p>
                                                <div class="df-ico">
                                                    <img src="{% static 'index/assets/icons/nft-ico.svg' %}" alt="nft" class="ico-nft">
                                                    <h3 class="namber-nft">3.421 </h3>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="tab-pane container fade" id="menu1">
                            <div class="box-df__naib-oneb">
                                <a href="detailNFT.html" class="link">
                                    <div class="box__nft">
                                        <img src="{% static 'index/assets/images/explore-one.svg' %}" alt="one" class="imf-nft">
                                        <h3 class="text-nft">ExBoot #1</h3>
                                        <div class="user-box">
                                            <div class="box-sf">
                                                <img src="{% static 'index/assets/icons/gal.svg' %}" alt="gal" class="gal">
                                                <img src="{% static 'index/assets/icons/peop-two.svg' %}" alt="peop" class="peop">
                                                <p class="name-user">Perperzon</p>
                                            </div>
                                            <div class="two-boxu">
                                                <p class="text-b">Current Bid</p>
                                                <div class="df-ico">
                                                    <img src="{% static 'index/assets/icons/nft-ico.svg' %}" alt="nft" class="ico-nft">
                                                    <h3 class="namber-nft">3.421 </h3>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                <a href="detailNFT.html" class="link">
                                    <div class="box__nft">
                                        <img src="{% static 'index/assets/images/explore-two.svg' %}" alt="one" class="imf-nft">
                                        <h3 class="text-nft">ExBoot #2</h3>
                                        <div class="user-box">
                                            <div class="box-sf">
                                                <img src="{% static 'index/assets/icons/gal.svg' %}" alt="gal" class="gal">
                                                <img src="{% static 'index/assets/icons/an.svg' %}" alt="peop" class="peop">
                                                <p class="name-user">Antonson</p>
                                            </div>
                                            <div class="two-boxu">
                                                <p class="text-b">Current Bid</p>
                                                <div class="df-ico">
                                                    <img src="{% static 'index/assets/icons/nft-ico.svg' %}" alt="nft" class="ico-nft">
                                                    <h3 class="namber-nft">3.421 </h3>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                <a href="detailNFT.html" class="link">
                                    <div class="box__nft">
                                        <img src="{% static 'index/assets/images/explore-three.svg' %}" alt="one" class="imf-nft">
                                        <h3 class="text-nft">Future of Polygon X</h3>
                                        <div class="user-box">
                                            <div class="box-sf">
                                                <img src="{% static 'index/assets/icons/gal.svg' %}" alt="gal" class="gal">
                                                <img src="{% static 'index/assets/icons/m.svg' %}" alt="peop" class="peop">
                                                <p class="name-user">Michael</p>
                                            </div>
                                            <div class="two-boxu">
                                                <p class="text-b">Current Bid</p>
                                                <div class="df-ico">
                                                    <img src="{% static 'index/assets/icons/nft-ico.svg' %}" alt="nft" class="ico-nft">
                                                    <h3 class="namber-nft">3.421 </h3>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                <a href="detailNFT.html" class="link">
                                    <div class="box__nft">
                                        <img src="{% static 'index/assets/images/explore-foure.svg' %}" alt="one" class="imf-nft">
                                        <h3 class="text-nft">Blue Wave #2</h3>
                                        <div class="user-box">
                                            <div class="box-sf">
                                                <img src="{% static 'index/assets/icons/gal.svg' %}" alt="gal" class="gal">
                                                <img src="{% static 'index/assets/icons/and.svg' %}" alt="peop" class="peop">
                                                <p class="name-user">Anderson</p>
                                            </div>
                                            <div class="two-boxu">
                                                <p class="text-b">Current Bid</p>
                                                <div class="df-ico">
                                                    <img src="{% static 'index/assets/icons/nft-ico.svg' %}" alt="nft" class="ico-nft">
                                                    <h3 class="namber-nft">3.421 </h3>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="box-df__naib-oneb">
                                <div class="box__nft">
                                    <img src="{% static 'index/assets/images/explore-five.svg' %}" alt="one" class="imf-nft">
                                    <h3 class="text-nft">ExBoot #1</h3>
                                    <div class="user-box">
                                        <div class="box-sf">
                                            <img src="{% static 'index/assets/icons/gal.svg' %}" alt="gal" class="gal">
                                            <img src="{% static 'index/assets/icons/m.svg' %}" alt="peop" class="peop">
                                            <p class="name-user">Michael</p>
                                        </div>
                                        <div class="two-boxu">
                                            <p class="text-b">Current Bid</p>
                                            <div class="df-ico">
                                                <img src="{% static 'index/assets/icons/nft-ico.svg' %}" alt="nft" class="ico-nft">
                                                <h3 class="namber-nft">3.421 </h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="box__nft">
                                    <img src="{% static 'index/assets/images/explore-six.svg' %}" alt="one" class="imf-nft">
                                    <h3 class="text-nft">ExBoot #2</h3>
                                    <div class="user-box">
                                        <div class="box-sf">
                                            <img src="{% static 'index/assets/icons/gal.svg' %}" alt="gal" class="gal">
                                            <img src="{% static 'index/assets/icons/peop.svg' %}" alt="peop" class="peop">
                                            <p class="name-user">Richard</p>
                                        </div>
                                        <div class="two-boxu">
                                            <p class="text-b">Current Bid</p>
                                            <div class="df-ico">
                                                <img src="{% static 'index/assets/icons/nft-ico.svg' %}" alt="nft" class="ico-nft">
                                                <h3 class="namber-nft">3.421 </h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="box__nft">
                                    <img src="{% static 'index/assets/images/explore-seven.svg' %}" alt="one" class="imf-nft">
                                    <h3 class="text-nft">Future of Polygon X</h3>
                                    <div class="user-box">
                                        <div class="box-sf">
                                            <img src="{% static 'index/assets/icons/gal.svg' %}" alt="gal" class="gal">
                                            <img src="{% static 'index/assets/icons/and.svg' %}" alt="peop" class="peop">
                                            <p class="name-user">Anderson</p>
                                        </div>
                                        <div class="two-boxu">
                                            <p class="text-b">Current Bid</p>
                                            <div class="df-ico">
                                                <img src="{% static 'index/assets/icons/nft-ico.svg' %}" alt="nft" class="ico-nft">
                                                <h3 class="namber-nft">3.421 </h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="box__nft">
                                    <img src="{% static 'index/assets/images/explore-eight.svg' %}" alt="one" class="imf-nft">
                                    <h3 class="text-nft">Blue Wave #2</h3>
                                    <div class="user-box">
                                        <div class="box-sf">
                                            <img src="{% static 'index/assets/icons/gal.svg' %}" alt="gal" class="gal">
                                            <img src="{% static 'index/assets/icons/an.svg' %}" alt="peop" class="peop">
                                            <p class="name-user">Antonson</p>
                                        </div>
                                        <div class="two-boxu">
                                            <p class="text-b">Current Bid</p>
                                            <div class="df-ico">
                                                <img src="{% static 'index/assets/icons/nft-ico.svg' %}" alt="nft" class="ico-nft">
                                                <h3 class="namber-nft">3.421 </h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane container fade" id="menu2">
                            <div class="box-df__naib-oneb">
                                <a href="detailNFT.html" class="link">
                                    <div class="box__nft">
                                        <img src="{% static 'index/assets/images/explore-one.svg' %}" alt="one" class="imf-nft">
                                        <h3 class="text-nft">ExBoot #1</h3>
                                        <div class="user-box">
                                            <div class="box-sf">
                                                <img src="{% static 'index/assets/icons/gal.svg' %}" alt="gal" class="gal">
                                                <img src="{% static 'index/assets/icons/peop-two.svg' %}" alt="peop" class="peop">
                                                <p class="name-user">Perperzon</p>
                                            </div>
                                            <div class="two-boxu">
                                                <p class="text-b">Current Bid</p>
                                                <div class="df-ico">
                                                    <img src="{% static 'index/assets/icons/nft-ico.svg' %}" alt="nft" class="ico-nft">
                                                    <h3 class="namber-nft">3.421 </h3>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                <a href="detailNFT.html" class="link">
                                    <div class="box__nft">
                                        <img src="{% static 'index/assets/images/explore-two.svg' %}" alt="one" class="imf-nft">
                                        <h3 class="text-nft">ExBoot #2</h3>
                                        <div class="user-box">
                                            <div class="box-sf">
                                                <img src="{% static 'index/assets/icons/gal.svg' %}" alt="gal" class="gal">
                                                <img src="{% static 'index/assets/icons/an.svg' %}" alt="peop" class="peop">
                                                <p class="name-user">Antonson</p>
                                            </div>
                                            <div class="two-boxu">
                                                <p class="text-b">Current Bid</p>
                                                <div class="df-ico">
                                                    <img src="{% static 'index/assets/icons/nft-ico.svg' %}" alt="nft" class="ico-nft">
                                                    <h3 class="namber-nft">3.421 </h3>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                <a href="detailNFT.html" class="link">
                                    <div class="box__nft">
                                        <img src="{% static 'index/assets/images/explore-three.svg' %}" alt="one" class="imf-nft">
                                        <h3 class="text-nft">Future of Polygon X</h3>
                                        <div class="user-box">
                                            <div class="box-sf">
                                                <img src="{% static 'index/assets/icons/gal.svg' %}" alt="gal" class="gal">
                                                <img src="{% static 'index/assets/icons/m.svg' %}" alt="peop" class="peop">
                                                <p class="name-user">Michael</p>
                                            </div>
                                            <div class="two-boxu">
                                                <p class="text-b">Current Bid</p>
                                                <div class="df-ico">
                                                    <img src="{% static 'index/assets/icons/nft-ico.svg' %}" alt="nft" class="ico-nft">
                                                    <h3 class="namber-nft">3.421 </h3>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                <a href="detailNFT.html" class="link">
                                    <div class="box__nft">
                                        <img src="{% static 'index/assets/images/explore-foure.svg' %}" alt="one" class="imf-nft">
                                        <h3 class="text-nft">Blue Wave #2</h3>
                                        <div class="user-box">
                                            <div class="box-sf">
                                                <img src="{% static 'index/assets/icons/gal.svg' %}" alt="gal" class="gal">
                                                <img src="{% static 'index/assets/icons/and.svg' %}" alt="peop" class="peop">
                                                <p class="name-user">Anderson</p>
                                            </div>
                                            <div class="two-boxu">
                                                <p class="text-b">Current Bid</p>
                                                <div class="df-ico">
                                                    <img src="{% static 'index/assets/icons/nft-ico.svg' %}" alt="nft" class="ico-nft">
                                                    <h3 class="namber-nft">3.421 </h3>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="auto">
                        <button class="btn-cente" type="button">Discover More</button>
                    </div>
                </section>
                <section class="main-five">
                    <img src="{% static 'index/assets/icons/arou.svg' %}" alt="arou" class="arou">
                    <h1 class="main-five-text">Try our App Mobile NFT</h1>
                    <button class="download-btn" type="button"><img src="{% static 'index/assets/icons/download.svg' %}" alt="download"class="download">Download Now</button>
                    <img src="{% static 'index/assets/icons/iPhone-13.svg' %}" alt="phone" class="iphone">
                </section>
            </div>
        </main>


{% endblock %}
